* {
	margin: 0;
	padding: 0;
}

/* color {
  -blue: #007bff;
  -red: #dd0000;
  -black: #343a40;
  -grey: #eeeeee;
} */

body {
	min-height: 100vh;
}

.halaman {
	background-color: #007bff;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

/* Konten ------------------------------------------------------------------------------------*/

/* Isi Konten --------------------------------------------------------------------------------*/
.halaman form {
	background-color: #fff;
	width: 800px;
	height: 100vh;
	padding: 30px;
}

.halaman form h1 {
	font-family: "nunito";
	font-weight: 700;
	font-size: 24px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #007bff;
}

.halaman .kolom {
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.halaman .kolom .kolom1 {
	/* background-color: yellow; */
	display: flex;
	flex-direction: column;
	width: 50%;
}

.halaman .kolom .kolom2 {
	/* background-color: green; */
	display: flex;
	flex-direction: column;
	width: 50%;
}

.halaman .kolom .kolom1 label,
.halaman .kolom .kolom2 label {
	margin-top: 20px;
}

.halaman .kolom .kolom2 .keterangan {
	margin-top: 3px;
}

.halaman .kolom .kolom2 textarea {
	resize: none;
	height: 203px;
	font-size: 14px;
}

.halaman form .submit {
	margin-top: 30px;
	width: 100%;
}

.halaman .kolom .kolom2 .text-small {
	font-size: 12px;
	font-weight: 400;
	margin-top: 0;
}

.halaman .text-small {
	font-size: 14px;
	font-weight: 600;
	margin-top: 20px;
}

/* Phone -------------------------------------------------------------------------------*/
@media only screen and (max-width: 319px) {
	.halaman .menu {
		width: 15vw;
	}

	.halaman .menu .logo i {
		font-size: 20px;
	}

	.halaman .menu .logo h1 {
		display: none;
	}

	.halaman .menu ul li i {
		display: flex;
		justify-content: center;
		font-size: 14px;
	}

	.halaman .menu ul li span {
		display: none;
	}

	.halaman .konten .judul h1 {
		font-size: 14px;
	}
}

/* Smartphone -------------------------------------------------------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.halaman form {
		padding: 10px;
	}

	.halaman form h1 {
		font-size: 18px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.halaman .kolom {
		gap: 10px;
	}

	.halaman .kolom .kolom1 label,
	.halaman .kolom .kolom2 label {
		font-size: 14px;
	}

	.halaman .kolom .kolom1 input,
	.halaman .kolom .kolom2 input {
		font-size: 14px;
	}

	.halaman .kolom .kolom1 select,
	.halaman .kolom .kolom2 select {
		font-size: 14px;
	}

	.halaman .kolom .kolom2 textarea {
		height: 205px;
	}

	.halaman form .submit {
		font-size: 14px;
	}
}

/* Tablet -------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.halaman .menu {
		width: 10vw;
	}

	.halaman .menu .logo i {
		font-size: 24px;
	}

	.halaman .menu .logo h1 {
		display: none;
	}

	.halaman .menu ul li i {
		display: flex;
		justify-content: center;
		font-size: 18px;
	}

	.halaman .menu ul li span {
		display: none;
	}

	.halaman .konten .judul h1 {
		font-size: 18px;
	}

	.halaman .konten table {
		font-size: 12px;
	}
}

/* Notebook -------------------------------------------------------------------------------*/
@media only screen and (min-width: 1024px) and (max-width: 1290px) {
	.halaman .menu .logo i,
	.halaman .menu .logo h1 {
		font-size: 14px;
		color: #007bff;
	}

	.halaman .menu ul li {
		font-size: 12px;
	}

	.halaman .konten .judul h1 {
		font-size: 14px;
	}

	.halaman .konten table {
		font-size: 12px;
	}
}
